[user]
	name = haya14busa
	email = hayabusa1419@gmail.com
[color]
	ui = true
[core]
	editor = vim
	quotepath = false
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	# st = status
	st = status --short --branch
	br = branch
	sh = show
	so = remote show origin
	ci = commit
	ft = fetch
	ad = add
	cam = commit --amend
	log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	# diff関連
	dm = diff master           # masterとのdiff
	dw = diff --color-words    # 単語単位でいろつけてdiff
	dc = diff --cached         # addされているものとのdiff
	ds = diff --staged         # 同上(1.6.1移行)
	d1 = diff HEAD~            # HEADから1つ前とdiff
	d2 = diff HEAD~~           # HEADから2つ前とdiff
	d3 = diff HEAD~~~          # HEADから3つ前とdiff
	d4 = diff HEAD~~~~         # HEADから4つ前とdiff
	d5 = diff HEAD~~~~~        # HEADから5つ前とdiff
	d10 = diff HEAD~~~~~~~~~~  # HEADから10前とdiff
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	delete-merged-branches-remote = !git branch -a --merged | grep -v master | grep remotes/origin| sed -e 's% *remotes/origin/%%' | xargs -I% git push origin :%
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
[include]
	path = ~/.gitconfig.local
[merge]
	tool = myvimdiff
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "myvimdiff"]
	cmd = myvimdiff \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[url "https://"]
	insteadOf = git://
[push]
	default = current
[ghq]
	root = ~/src
# vim: noexpandtab
[diff]
	algorithm = patience
[github]
	user = haya14busa
